/* The aim of this code is to vastly improve the right section and apply specific user
   colour in an easy and convenient way. You'll want to use this if you don't care for
   DubX's default settings, and if you are intending to add any colour for highlight
   so specific users and bots can stand out in your community theme.

   Thanks to the people who haunt forum.userstyles.org for helping me better
   understand how box-shadow works. You can view that entire discussion here:
   https://forum.userstyles.org/discussion/comment/100659
   
   Thanks to user "null" for helping me out.
*/

/* This version removes the border radius in the original version for use with
   chat completely on right by netox005
*/

/* Background colour */
#main_player,
.chat_tools,
#chat LI,
.pusher-chat-widget-input,
.avatar_tools,
#main_avatar_room LI,
.chat-option-header,
.chat-option-buttons SPAN{
  background-color: rgba(30, 41, 66, 0.80) !important;
}
.play-song-link{
  background-color: rgba(30, 41, 66, 0.90) !important;
}
  /* Color-match the below with the above */
    /* Bottom filler */
#chat LI:last-child,
#avatar-list LI:last-child{
  box-shadow: 0 1500px 0 1500px rgba(30, 41, 66, 0.80) !Important;
}
    /* Bottom for user list */
#main_avatar_room{
  border-bottom: 16px solid rgba(30, 41, 66, 0.80) !important;
}
    /* Background hack for options */
.chat-options{
  background-image: linear-gradient(to bottom,
                                    transparent 240px,
                                    rgba(30, 41, 66, 0.80) 240px,
                                    rgba(30, 41, 66, 0.80) 100%) !Important;
}

/* Positioning and sizing */
#chat .chat-welcome-message,
#chat .system,
#chat .chat-system-loading{
  text-align: center !Important;
}

LI[class^='user'].deleted-message{
  padding-bottom: 16px !Important;
}

#chat LI[class^='user'].deleted-message P.deleted,
#chat .chat-me-command-joined P.deleted{
  padding-top: 18px !Important;
  padding-bottom: 22px !Important;
}

#chat LI[class^='user']:not(.deleted-message) P.deleted{
  padding-top: 8px !Important;
}

.chat_tools SPAN{
  height: 50px !Important;
}

.dubx #chat .chat-container .chat-messages .chat-main LI .stream-item-content .image_row,
.dubx #chat .chat-container .chat-messages .chat-main LI .chatDelete,
.avatar_tools{
  top: 0px !Important;
}
#chat .stream-item-content,
#chat .image_row,
#chat .chatDelete{
  margin-top: 16px !Important;
}
#chat .image_row,
#main_avatar_room .username{
  margin-left: 16px !Important;
}

#chat .timeago,
#chat .chatDelete,
#main_avatar_room .dubs{
  margin-right: 16px !Important;
}

#chat .chat-me-command-joined .chatDelete{
  margin-top: 13px !Important;
}

.chat-welcome-message,
#chat .chat-me-command-joined,
.avatar_tools,
.chat-option-header{
  padding-top: 8px !Important;
  padding-bottom: 8px !Important;
}

#main_avatar_room LI{
  padding-top: 4px !Important;
  padding-bottom: 4px !Important;
}

#main_avatar_room UL{
  padding-left: 0px !important;
  padding-right: 0px !Important;
}

#chat .stream-item-content,
.chat-welcome-message,
#chat .system,
#chat .chat-me-command-joined,
#chat .chat-system-loading{
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.avatar_tools{
  margin-bottom: 8px !Important;
}

#chat .chat-me-command-joined,
#chat .chat-me-command-joined P.deleted,
#main_avatar_room LI{
  margin-bottom: 0px !Important;
}

#main_avatar_room{
  margin-top: 51px !Important;
  padding-top: 41px !Important;
  height: calc(100% - 51px) !important;
}

#chat .chat-options{
  height: 100% !Important;
}

  /* Gap removal */
#chat .ps-container{
  top: -4px !Important;
  height: calc(100% + 4px) !important;
}

#main_avatar_room{
  padding-bottom: 0px !Important;
}

.chat-option-header,
.chat-option-buttons{
  position: relative !Important;
  top: -5px !Important;
}
.chat-option-header{
  margin-top: 0px !important;
}

#private-messages .ps-container{
  top: -7px !Important;
  height: calc(100% + 22px) !important;
}

  /* Emote height override */
#chat .chat-me-command-joined{
  min-height: 0px !Important;
}

  /* Undoing DubX defaults */
.dubx #chat .chat-container .chat-messages .chat-main LI .stream-item-content .image_row,
.dubx #chat .chat-container .chat-messages .chat-main LI .chatDelete{
  top: 0px;
}
.dubx .chat-main.splitChat li:nth-child(2n) .chatDelete{
  right: 0px !important;
}

/* Remove / Hide other stuff */
  /* Hide right-side colour (enables selective user colouring) */
.right_section{
  background-color: transparent !important;
}
  /* Chat padding */
#chat UL,
#chat .system{
  padding: 0px !Important;
}

LI.deleted-message{
  padding-top: 0px !Important;
  padding-bottom: 0px !Important;
  line-height: 0px !Important;
}

  /* Undoing DubX defaults */
.dubx #chat .chat-container .chat-messages .chat-main LI .activity-row,
.dubx #chat .chat-container .chat-messages .chat-main LI.chat-system-loading,
.dubx #chat .chat-container .chat-messages .chat-main LI.system,
.dubx #chat .chat-container .chat-messages .chat-main LI.system-error,
.dubx #chat .chat-container .chat-messages .chat-main LI.chat-me-command-joined{
  padding-top: 0px;
}

/* Other border settings */
.avatar_tools INPUT{
  border: none !Important;
}

.avatar_tools{
  border-bottom: 1px solid rgb(29, 69, 110) !important;
}

.deleted-message .timeago{
  display: none !Important;
}
