@media screen and (min-width: 72em) {
    #main-room .left_section { left: 0; max-width: 30rem; }
    #main-room .left_section #main_player { border-radius: 0 0 1rem 0; }
    #main_player .player_header { left: initial; right: -73px; height: 260px; }
    #main_player .player_header span {
        float: left;
        padding-left: 0;
        padding-right: .5rem;
        border-radius: 0 1rem 1rem 0;
    }
    #main_player .player_header span.edit-room { float: left; padding: 1px 4px 0 0; }
    
    #main_player .player_header span:nth-child(2) { margin-top: 8px !Important; }
}
