/* Things borrowed;
   > This pen: http://codepen.io/dats-wassup/pen/EVzRvv?editors=110
*/

/* Animation stuff */
  /* Types */
  /* ! Match "to" BG position first value with
       BG size in "Animation size and type" */
@keyframes rainbowProg{
  from{
    background-position: 0px 0px
  }
  to{
    background-position: 800px 0px
  }
}
@keyframes rainbowVol{
  from{
    background-position: 0px 0px
  }
  to{
    background-position: 200px 0px
  }
}
  /* Constants */
#player-controller .left,
#player-controller .progressBg,
.ui-slider-range-min,
.ui-slider,
.playerPreview .loaded,
.playerPreview .progress{
  /* ! Duration for speed; Lower is faster */
  animation-duration: 5s !Important;
  animation-timing-function: linear !important;   /* <--+++++++++++++++++++++++++++ */
  animation-iteration-count: infinite !important; /* <--+                         + */
  background-repeat: repeat-x !Important;         /* <--+ Don't touch any of this + */
  background-attachment: fixed !Important;        /* <--+                         + */
  background-color: transparent !Important;       /* <--+++++++++++++++++++++++++++ */
}

/* Colours */
  /* Footer overlay */
#player-controller .left:after{
  z-index: 0; /* ! Don't touch this, explained at bottom */
  width: 100%;        /* <--+++++++++++++++++++++++++++++++++++++++++++++ */
  height: 100%;       /* <--+                                           + */
  content: '';        /* <--+   Don't touch any of this; These define   + */
  position: absolute; /* <--+ pseudochild size, position and visibility + */
  top: 0px;           /* <--+                                           + */
  left: 0px;          /* <--+++++++++++++++++++++++++++++++++++++++++++++ */
    /* ! Match to your present theme where applicable */
  background-image: linear-gradient(to top,
                                    transparent 5px,
                                    rgb(22, 31, 49) 5px,
                                    rgb(22, 31, 49) 100%);
}
  /* Volume slider */
.ui-slider-handle{
  background-color: #fff !Important;
}
  /* Rainbow gradients */
    /* Bright */
#player-controller .progressBg,
.ui-slider-range-min,
.playerPreview .progress{
  background-image: linear-gradient(to left,
                                    rgb(255, 0, 0) 0%,
                                    rgb(255, 128, 0) 8.34%,
                                    rgb(255, 255, 0) 16.67%,
                                    rgb(128, 255, 0) 25%,
                                    rgb(0, 255, 0) 33.34%,
                                    rgb(0, 255, 128) 41.67%,
                                    rgb(0, 255, 255) 50%,
                                    rgb(0, 128, 255) 58.33%,
                                    rgb(0, 0, 255) 66.67%,
                                    rgb(128, 0, 255) 75%,
                                    rgb(255, 0, 255) 83.33%,
                                    rgb(255, 0, 128) 91.67%,
                                    rgb(255, 0, 0) 100%) !Important;
}
    /* Dark */
#player-controller .left,
.ui-slider,
.playerPreview .loaded{
  background-image: linear-gradient(to left,
                                    rgb(47, 0, 0) 0%,
                                    rgb(47, 23, 0) 8.34%,
                                    rgb(47, 47, 0) 16.67%,
                                    rgb(23, 47, 0) 25%,
                                    rgb(0, 47, 0) 33.34%,
                                    rgb(0, 47, 23) 41.67%,
                                    rgb(0, 47, 47) 50%,
                                    rgb(0, 23, 47) 58.33%,
                                    rgb(0, 0, 47) 66.67%,
                                    rgb(23, 0, 47) 75%,
                                    rgb(47, 0, 47) 83.33%,
                                    rgb(47, 0, 23) 91.67%,
                                    rgb(47, 0, 0) 100%) !Important;
}

/* Animation size and type */
  /* Progress bars */
#player-controller .left,
#player-controller .progressBg,
.playerPreview .loaded,
.playerPreview .progress{
  background-size: 800px 100% !Important;
  animation-name: rainbowProg !Important;
}
  /* Volume */
.ui-slider-range-min,
.ui-slider{
  background-size: 200px 100% !Important;
  animation-name: rainbowVol !Important;
}

/* Opacity for player preview */
.playerPreview .loaded{
  opacity: 1 !Important;
}

/* ! Don't touch this; it places footer content
     above the "Footer overlay" pseudochild */
#player-controller *{
  z-index: 1 !Important;
}
