/* Video next to chat */
@media screen and (min-width: 72em) {
    #main-room .left_section { left: initial; right: 450px; }
    #main-room .left_section #main_player { border-radius: 0 0 0 1rem; }
}
#main_player { padding-top: 1rem; 
}
#main_player .player_header #topbanner {
	height: 1rem;
}
