/* Feel free to append onto this as you wish to highlight specific
   users with different colours, animations and other format settings
   
   You can inspect dubtrack.fm to find the ID of a specfic user you
   want to modify. After doing so, make whatever changes in chat and
   people to make those users stand out
   
   Other changes you may need to know about because of other styles;
   > betterchat.css: Makes background colour look less ugly when
                     applied to specific users, and allows for use
                     of colours with opacity (rgba); By default,
                     the entire right section has a background colour,
                     which betterchat disallows so the right section
                     background doesn't sully other rgba colours.
   > mixercore.css: Changes default colour opacity (when using rgba)
                    to 0.8 instead of dubtrack's default of 0.7
*/

/* Animation settings */
  /* heebeejeebees */
@keyframes hebgbs{
  0%{
      text-shadow: 0px 0px 0px #d22;
  }
  8.34%{
      text-shadow: 0px 0px 0px #d72;
  }
  16.67%{
      text-shadow: 0px 0px 0px #dd2;
  }
  25%{
      text-shadow: 0px 0px 0px #7d2;
  }
  33.34%{
      text-shadow: 0px 0px 0px #2d2;
  }
  41.67%{
      text-shadow: 0px 0px 0px #2d7;
  }
  50%{
      text-shadow: 0px 0px 0px #2dd;
  }
  58.33%{
      text-shadow: 0px 0px 0px #27d;
  }
  66.67%{
      text-shadow: 0px 0px 0px #22d;
  }
  75%{
      text-shadow: 0px 0px 0px #72d;
  }
  83.33%{
      text-shadow: 0px 0px 0px #d2d;
  }
  91.67%{
      text-shadow: 0px 0px 0px #d27;
  }
  100%{
      text-shadow: 0px 0px 0px #d22;
  }
}

/* User preferences */
  /* heebeejeebees */
LI.user-560338dfb585d003001b2b09 .username,
#avatar-list LI.userid-560338dfb585d003001b2b09 .username{
  animation: 6.3s hebgbs !important;
  animation-iteration-count: infinite !Important;
}
LI.user-560338dfb585d003001b2b09 .username,
#avatar-list LI.userid-560338dfb585d003001b2b09 .username,
#avatar-list LI.userid-560338dfb585d003001b2b09 .username:after{
  color: rgba(92, 135, 179, 0.50) !Important;
}
